# Minimum Requirements - Python 3.12 compatible

## Basics
numpy>=1.26
Cython>=3.0
tqdm>=4.66
matplotlib>=3.9
requests>=2.32
urllib3>=2.2
idna>=3.6
pandas>=2.2
attrs>=23
six>=1.16
future>=0.18
python-dateutil>=2.9
PyYAML>=6.0
joblib>=1.4
Pillow>=10.0
pyzmq>=26
python-crontab>=2.7
cmake>=3.28
protobuf>=4.25

## Utilities
httpie>=3.2
cloudpickle>=3.0
msgpack>=1.0
msgpack-numpy>=0.4.7
cysignals>=1.10
h5py>=3.11
seaborn>=0.13
SQLAlchemy>=2.0
sortedcontainers>=2.4
simplejson>=3.19
Pygments>=2.18
jsonschema>=4.23
loguru>=0.7.3
click>=8.2
docutils>=0.21
tabulate>=0.9
regex>=2024
toolz>=0.12
jmespath>=0.10
dill>=0.3
imageio>=2.34
pyparsing>=3.1
graphviz>=0.20
colorama>=0.4
cffi>=1.17

# Development Helper
twine>=4.0
tox>=4.0
pipenv>=2023
poetry>=1.7
virtualenv>=20.25
pytest>=7.0
autopep8>=2.0
flake8>=7.0
black>=24.0
pylint>=3.0
pycodestyle>=2.11
pydocstyle>=6.3
mock>=5.0
nox>=2024
pip-tools>=7.0
virtualenvwrapper>=4.12
isort>=5.13
jedi>=0.19
pipreqs>=0.4
mypy>=1.8

# Web Frameworks
tornado>=6.4
flask>=3.0
gunicorn>=23.0
uvicorn>=0.30

# ML libraries
tensorboard>=2.17

## Glances
psutil>=5.9
bottle>=0.13
netifaces>=0.11
py-cpuinfo>=9.0
glances>=3.3
pymdstat>=0.4

## Jupyter
ipykernel>=6.29
jupytext>=1.16
jupyter-resource-usage>=0.7
ipympl>=0.9
jupyterhub>=4.1
remote_ikernel>=0.4.6
jupyter_contrib_nbextensions>=0.7
jupyter_nbextensions_configurator>=0.5
nbdime>=4.0